{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column align-items-center mb-5">
		<h1 class="text-center mb-3">Connexion</h1>
		<h3 class="categorie_title text-center">Exprimez votre créativité, avec la communauté DIY!
		</h3>
		<div class="register_form col-lg-6 col-sm-10 mt-3">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté(e) en tant que
						{{ app.user.username }}
						<div>
							<a href="{{ path('app_logout') }}" type="btn" class="btn btn-envoyer mt-0 mb-3">Déconnexion</a>
						</div>
					</div>
				{% endif %}

				<div class="form-group">
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="E-mail" required autofocus>
				</div>
				<div class="form-group">
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="form-group">
					<button class="btn btn-envoyer mt-0" type="submit">
						Connexion
					</button>
				</form>
				<p>
					<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
				</p>
			</div>


		</div>
	</div>
{% endblock %}
