{% extends 'base.html.twig' %}

{% block title %}Gestion Catégories
{% endblock %}

{% block body %}
	<h1 class="mt-5">Gérer les Catégories</h1>
	<a href="{{ path("admin_categories_ajout") }}" class="btn btn-secondary">Ajouter une catégorie</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nom</th>
				<th scope="col">Parent</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				<tr>
					<td>{{categorie.id}}</td>
					<td>{{categorie.name}}</td>
					<td>{{categorie.parent}}</td>
					<td class="text-center">
						<a href="{{ path("admin_categories_modifier", {id: categorie.id}) }}" class="btn btn-primary">Modifier</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path("admin_categories_ajout") }}" class="btn btn-secondary">Ajouter une catégorie</a>
{% endblock %}
