{% extends 'base.html.twig' %}

{% block title %}Ajout Annonce
{% endblock %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
	<h1>Ajouter une annonce</h1>
	{{ form(form) }}

		{# {% if app.request.attributes.get('_route') == 'users_annonces_editer' %} #}
		<h2>Images</h2>
		{% for annonce in annonces %}
			<div>
				<div class="col"><img src="{{asset('/uploads/images/' ~ annonce.img1) }}" class="img-thumbnail" alt="..."></div>
				<div class="col"><img src="{{asset('/uploads/images/' ~ annonce.img2) }}" class="img-thumbnail" alt="..."></div>
				<div class="col"><img src="{{asset('/uploads/images/' ~ annonce.img3) }}" class="img-thumbnail" alt="..."></div>
			</div>
		{% endfor %}
		{# {% endif %} #}


	{% endblock %}
	{% block javascripts %}
		<script src="{{asset('/js/supprimerimage.js') }}"></script>
	{% endblock %}
