{% extends 'base.html.twig' %}

{% block title %}Gestion Annonces
{% endblock %}

{% block body %}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
	<div class="container">
		<h1 class="mt-5">Gérer les Annonces</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Titre</th>
					<th scope="col">Date</th>
					<th scope="col">Active</th>
					<th scope="col" class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for annonce in annonces %}
					<tr>
						<td>{{annonce.id}}</td>
						<td>{{annonce.title}}</td>
						<td>{{annonce.createdAt|date('d/m/Y')}}</td>
						<td>
							<div class="form-check form-switch">

								<input class="form-check-input" {{ (annonce.active) ? 'checked' : ''}} data-id="{{annonce.id}}" type="checkbox" id="flexSwitchCheckDefault">
							<!--annonce.active) ? 'checked' : '' -> vérifie si l'annonce est active, si oui = checked-->
								<!--data-id -> ajax -> permet de savoir quelle annonce est active ou non par son id et permettra d'agir dessus par le biais du switch-->
							</div>
						</td>
						<td class="text-center">
							<a href="{{path('annonces_details' , {slug: annonce.slug}) }}" class="btn btn-primary">Voir</a>

							<!-- Bouton modal -->
							<button type="button" class="btn btn-danger modal-trigger" data-bs-toggle="modal" data-bs-target="#modalSuppression" data-id="{{annonce.id}}" data-titre="{{annonce.title}}">
								Supprimer
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<!-- Modal -->
		<div class="modal fade" id="modalSuppression" tabindex="-1" aria-labelledby="modalSuppressionLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalSuppressionLabel">Suprimer l'anonce</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
						<a href="" class="btn btn-danger">Supprimer</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script src="{{asset('/js/switch.js') }}"></script>
	<script>
		let supprimer = document.querySelectorAll(".modal-trigger")
for (let bouton of supprimer) {
bouton.addEventListener("click", function () {
document.querySelector(".modal-footer a").href = `/admin/annonces/supprimer/${
this.dataset.id
}`
document.querySelector(".modal-body").innerText = `Êtes-vous sûr(e) de vouloir supprimer l'annonce "${
this.dataset.titre
}"`
})

}
	</script>
{% endblock %}
