{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
	<div
		class="container my-5">
		<!-- ANNONCES USER -->
		<div class="row">

			<div
				class="d-flex flex-row justify-content-center flex-wrap border border-secondary rounded-3 pt-3">
				<!-- TITRE ET MESSAGE ALERTE -->
				<div class="col-12 text-center">

					{% for message in app.flashes('message') %}
						<div class="alert alert-success" role="alert">{{ message }}</div>
					{% endfor %}
					{% for message in app.flashes('success') %}
						<div class="alert alert-success" role="alert">{{ message }}</div>
					{% endfor %}


					<h3 class="categorie_title text-center">Mes annonces ({{ app.user.annonces|length }})</h3>
					<a href="{{ path('users_annonces_ajout') }}" class="btn btn-envoyer">Ajouter une annonce</a>
				</div>
				<!-- FIN TITRE ET MESSAGE ALERTE -->
				<!-- CARDS -->
				{% for annonce in app.user.annonces %}
					<div class="card col-lg-3 col-xs-12 my-3 m-2 text-center" style="width: 18rem;">
						<img src="{{ asset('uploads/images/' ~ annonce.img1)|imagine_filter('card') }}" class="card-img-top" alt="{{annonce.title}}">
						<div class="card-body">
							<h5 class="card-title">{{annonce.title }}</h5>
							<p class="card-text-categorie">Catégorie :
								{{ annonce.categories }}
							</p>
							<a href="{{ path("users_annonces_editer", {id: annonce.id}) }}" class="btn btn-primary">Modifier</a>
							<a href="{{ path("users_annonce_supprimer", {id: annonce.id}) }}" class="btn btn-danger ">Supprimer</a>
						</div>
					</div>
				{% endfor %}
				<!-- FIN CARDS -->
			</div>

			<!-- INFO PROFIL -->
			<div class="card profil_board my-5 p-3">
				<h3 class="categorie_title text-center">Mon profil</h3>
				<p>Nom :
					{{ app.user.name }}</p>
				<p>Prénom :
					{{ app.user.firstname }}</p>
				<p>E-mail :
					{{ app.user.email }}</p>
				{# <a href="{{ path('users_profil_modifier') }}" class="btn btn-secondary">Modifier le profil</a> #}
				<div class="card-text">
					<a href="{{ path('users_mdp_modifier') }}" class="btn btn-envoyer m-2">Modifier le mot de passe</a>
					<a href="{{ path('users_annonces_ajout') }}" class="btn btn-envoyer m-2">Ajouter une annonce</a>
				</div>
			</div>
			<!-- FIN INFO PROFIL -->
		</div>
		<!-- FIN ANNONCES USER -->
	</div>

{% endblock %}
